<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.PaymentMapper">

  <sql id="col">
    id,serial
  </sql>

  <insert id="insert" parameterType="Payment">
    INSERT
    payment(
    id,serial
    )VALUES(
    #{id},#{serial}
    )
  </insert>

  <select id="findById" parameterType="Long" resultType="Payment">
    SELECT
    <include refid="col"/>
    FROM
    payment
    WHERE
    id=#{id}
  </select>

</mapper>